/* margin: top  right bottom left; */
@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  33% {
    -webkit-transform: translateX(2vw);
            transform: translateX(2vw);
  }
  66% {
    -webkit-transform: translateX(-1vw);
            transform: translateX(-1vw);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  33% {
    -webkit-transform: translateX(2vw);
            transform: translateX(2vw);
  }
  66% {
    -webkit-transform: translateX(-1vw);
            transform: translateX(-1vw);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

body {
  margin: 0;
  background: #dddddd;
}

header {
  height: 6vh;
  background: #777777;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

header .header li a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 4vh;
  font-family: "Oxygen";
  font-weight: 400;
}

main {
  margin: 50px 5vw 25px 5vw;
}

h1 {
  font-family: Dosis;
  font-size: 100px;
  margin-bottom: -20px;
}

h2 {
  font-family: Dosis;
  font-size: 70px;
}

h3 {
  font-family: Dosis;
  font-size: 60px;
  margin-bottom: -10px;
  font-weight: 300;
}

h4 {
  font-family: Dosis;
  font-size: 50px;
  margin-bottom: -10px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

.intro,
.content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: content;
      -ms-flex: content;
          flex: content;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro p,
.content-flex p {
  text-align: center;
  font-family: Raleway;
  font-size: 40px;
}

.intro h1,
.content-flex h1 {
  text-align: center;
}

.langList {
  margin-top: -10px;
}

.langList .pics {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-top: -50px;
}

.langList .pics img {
  height: 70px;
  width: 70px;
}

.article-body p {
  font-size: 30px;
  width: 80vw;
  text-align: left;
  font-weight: 300;
}

.article-body {
  -webkit-animation: fade-in 1.75s ease;
          animation: fade-in 1.75s ease;
}

.article-list {
  font-family: Dosis;
  font-size: 32px;
  width: 80vw;
  text-align: left;
  font-weight: 300;
  list-style: url("../img/point-16px.png");
}

@media (max-width: 780px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
    margin-top: -125px;
  }
  .article-body {
    position: absolute;
    left: 30px;
  }
  header .header {
    width: 75%;
  }
  #portLang {
    margin-bottom: 0px;
  }
  #communication {
    font-size: 80px;
  }
  #projects {
    margin-top: -150px;
  }
  #article-title {
    font-size: 80px;
  }
  #article-subtitle {
    font-size: 40px;
  }
  .article-body p {
    font-size: 30px;
  }
}

#projects {
  -webkit-animation: fade-in 1.75s ease;
          animation: fade-in 1.75s ease;
}

#projects div {
  margin-top: 10px;
}

@media (min-width: 780px) {
  #projects div {
    margin-bottom: -180px;
    margin-left: -100px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
  }
}

#fan-code-error {
  display: none;
}

@media (max-width: 720px) {
  #pre-fan-code {
    display: none;
  }
  #fan-code-error {
    display: block;
  }
}

#things {
  -webkit-animation: slide-left 1.5s ease;
          animation: slide-left 1.5s ease;
}

#languages {
  -webkit-animation: slide-right 1.5s ease;
          animation: slide-right 1.5s ease;
}

.comDiv {
  -webkit-animation: shake 0.35s ease;
          animation: shake 0.35s ease;
}

.fader {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
}

#projects p:hover, .comDiv p:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

#projects p:hover a, .comDiv p:hover a {
  color: #008055;
}

#projects p, .comDiv p {
  pointer-events: none;
}

#projects a, .comDiv a {
  pointer-events: all;
}















.lnkDiv p.good:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.lnkDiv p.bad:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.lnkDiv p.good:hover a {
  color: #008055;
}

.lnkDiv p.good {
  pointer-events: none;
}

.lnkDiv p.bad {
  pointer-events: all;
}

.lnkDiv p.bad a {
  pointer-events: none;
}

.lnkDiv p.good a {
  pointer-events: all;
}

.lnkDiv p.bad a {
  color: #a0a0a0;
}

.lnkDiv p.bad:hover a {
  color: 	#aa5555;
}
/*# sourceMappingURL=style.css.map */
